MQTT_DATABASE_URL="postgresql://postgres:postgres@localhost:5433/mqtt_service"
PG_CLIENT_SSL="false"


API_URL=http://localhost:3000
API_SERVICE_KEY=your-service-key-here

RETRY_ATTEMPTS=5
RETRY_DELAY_MS=60000
BATCH_SIZE=50
BATCH_INTERVAL_MS=2000

CONFIG_POLL_INTERVAL_MS=300000

LOG_LEVEL=info